<h1>Add a new album to @Model.Name</h1>

<form action="/artists/@Model.Id/albums" method="post">
  <input id="artistId" name="artistId" type="hidden" value="@Model.Id">
  <label for="albumTitle">Album title</label>
  <input id="albumTitle" name="albumTitle" type="text">
  <label for="trackTotal">total number of tracks</label>
  <input id="trackTotal" name="trackTotal" type="text">
  <label for="runTime">total run time of album</label>
  <input id="runTime" name="runTime" type="text">
  <button type='submit'>Add album</button>
</form>